	<div class="col-xs-3">
		<h2>User info</h2>
		<%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
		<table class="table">
			<tbody>
				<tr>
					<th>name</th>
					<th><%= user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= user.introduction %></th>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<% if user == current_user %>
				<%= link_to "", edit_user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
			<% else %>
				<%= link_to "", user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
			<% end %>
		</div>
		<h2>New book</h2>
		<%= render 'books/error_messages'%>
		<%= form_for(book) do |f| %>
			<div class="field row">
				<label>Title</label>
				<%= f.text_field :title, class: "col-xs-12 book_title" %>
			</div>
			<div class="field row">
				<label>Body</label>
				<%= f.text_area :body, class: "col-xs-12 book_body" %>
			</div>
			<div class="actions row">
				<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
			</div>
		<% end %>
	</div>